.container {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.8rem 6rem;
}
.logoWrapper {
  margin-bottom: -0.6rem;
}
.menuWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & span {
    padding: 0.1rem 0 0.1rem 2rem;
    color: #fff;
  }
  & button {
    margin: 0 0 0 2rem;
    padding: 0.1rem 0 0.1rem 2rem;
    padding: 0.6rem 0.4rem;
    border-radius: 0.2rem;
    background: linear-gradient(90deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
  }
}
